@keyframes color {
    0%{background:  #33CCCC;}
    20%{background: #01f6d9;}
    40%{background: #00f6ee;}
    60%{background: #00ffe1; }
    80%{background: #00ffb3; }
    100%{background:#00ffbf; }
}
body{
   background:  #cc3333;
   margin: 300px;
   animation: color 9s infinite linear;
   
}
h1 {
    text-align: center;
    color: white; 
    font-family: 'Brush Script MT', cursive;
    
}
.parent{
   display: block;
   text-align: center;
   text-decoration: none;
   border-radius: 8px;
   margin: 20px auto;
   padding: 10px;
   box-sizing: border-box;
   max-width: 400px;
   border:rgb(0, 110, 245)
    
}

#Youtube{
    font-family: 'Courier New', monospace;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 5px solid #91C9FF;
    border-radius: 40px;
    outline: none;
    transition: 1s ease-in-out;    
    background-color: red;
    color: white;
}
#Twitch{
    font-family: 'Courier New', monospace;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 5px solid #91C9FF;
    border-radius: 40px;
    outline: none;
    transition: 1s ease-in-out;
    background-color: purple;
    color: white;
}
#Twitter{
    font-family: 'Courier New', monospace;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border-radius: 40px;
    border: 5px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: cyan;
    color: white;
}
#LinkedIn{
    font-family: 'Courier New', monospace;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border-radius: 40px;
    border: 5px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    background-color: blue;
    color: white;
}
